[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telebot = "*"
doit = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
sphinx = "*"
babel = "*"
pydocstyle = "*"
build = "*"

[requires]
python_version = "3.10"
